.composition {
  margin-top: -8px;
  margin-left:  -8px;
    width: 600px;
    height: 400px;
    position: relative;
    background: url("https://htmlbase.ru/storage/app/media/position-task1/bg.jpg");
  }
.box-planet-1 {
  position: absolute;
margin-top: 30px;
margin-left: 180px;
}

.box-planet-2 {
margin-left: -109px;
  margin-top: -63px;

}
.box-spaceship {

  margin-left: 85px;
    margin-top: -110px;
}

.box-planet-3 {
margin-left: 0px;
margin-top: -61px;
}

.box-ufo {
  margin-left: -13px;
  margin-top: -83px;
}

.box-asteroid {
    margin-left: 444px;
      margin-top: 85px;

      position: absolute;
}

.box-superman {
    margin-left: 491px;
      margin-top: 329px;
      position: absolute;
}