.composition {
  margin-top: -8px;
  margin-left: -8px;
  width: 600px;
  height: 400px;
  position: relative;
  background: url("https://htmlbase.ru/storage/app/media/position-task1/bg.jpg");
}

.composition div {
  position: absolute;
}

.box-planet-1 {
  top: 25px;
  left: 174px;
}

.box-planet-2 {
  top: 84px;
  left: 44px;
}

.box-spaceship {
  top: 140px;
  left: 154px;
}

.box-planet-3 {
  top: 134px;
  left: 152px;
}

.box-ufo {
  top: 304px;
  left: 132px;
}

.box-asteroid {
  top: 73px;
  left: 431px;
}

.box-superman {
  top: 329px;
  left: 491px;
}