$fz-small: 15px;
$fz-middle: 20px;
$fz-large: 50px;

$colored-btn: #FF6336;

$bg-dedicated: #FF9C7D;


$ff-regular: "GraphikLCG-Regular", sans-serif;
$ff-semibold: "GraphikLCG-Semibold", sans-serif;

