@import "./reset";
@import "./variables";
@import "./fonts";

.wrapper {
  font-family: $ff-regular;
  width: 100%;
}

.container {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
  padding: 0px 15px;
}

@media screen and (max-width: 1200px) {
  .welcome-content-img {
    display: none;
  }

}

@media screen and (max-width: 767px) {
  .welcome-content-img {
      display: none;
    }
.welcome-section-wrapper {
        display: flex;
          flex-direction: column;
  }
    .companies {
      display: none;
    }
.welcome-content-img {
  display: none;
}
}


.header {
  border-bottom: 1px solid #ccc;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0px;
}


.navigation-list {
  display: flex;
  font-size: 15px;
  align-items: center;
}

.navigation-list_item:not(:last-child) {
  margin-right: 55px;
}

.navigation-list_item-link {
  color: #000;

  &:hover {
    text-decoration: underline;
  }
}

.button-group {
  display: flex;
}

.default-btn {
  border: 1px solid #000;
  color: #000;
}

.colored-btn {
  color: #fff;
  margin-left: 10px;
  background-color: $colored-btn;
}

.default-btn,
.colored-btn {
  padding: 15px 30px;
  display: flex;
  align-items: center;
}

//welcome-section-wrapper

.welcome-section-wrapper {
  display: flex;
  padding: 165px 0 140px 0;
}

.welcome-content {
  .button-group {
    margin-bottom: 20px;
  }
}

.welcome-content_head {
  font-size: 64px;
  font-family: $ff-semibold;
  margin-bottom: 50px;
}

.welcome-content_text {
  font-size: 24px;
  line-height: 35px;
  margin-bottom: 30px;
}

.welcome-content-img {
  padding-top: 60px;
}

.companies {
  background-color: $bg-dedicated;
}

.companies-wrapper {
  padding: 100px 0;

  .section-header {
    font-size: 50px;
    text-align: center;
    line-height: 60px;
    font-family: $ff-semibold;
  }

  .companies-list {
    display: flex;
    margin-top: 80px;
    align-items: center;
    justify-content: space-between;
  }
}

// benefits

.benefits {
  padding: 100px 0;
}

.benefits-wrapper {
  display: flex;

  &:not(:last-child) {
    margin-bottom: 250px;
  }

  &:nth-child(2n) {
    flex-direction: row-reverse;

    .benefits-content {
      padding-left: 130px;
      padding-right: 0;
    }
  }
}

.benefits-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  padding-right: 130px;

  :not(:last-child) {
    margin-bottom: 30px;
  }
}

.benefits-content_img img {
  max-width: 100%;
}

.benefits-content_img {
  max-width: 50%;
}

.benefits-content_header {
  font-size: 50px;
  line-height: 60px;
  font-family: $ff-semibold;
}

.benefits-content_text {
  font-size: 20px;
  line-height: 30px;
}

.benefits-content_link {
  font-family: $ff-semibold;
  color: #000;
  font-size: 20px;
}

//localization

.localization {
  background-color: #fff8e4;
}

.localization-wrapper {
  padding: 100px 0;
  display: flex;
  flex-direction: column;

  .section-header {
    font-size: 50px;
    text-align: center;
    line-height: 60px;
    font-family: $ff-semibold;
  }

  .localization-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 80px;
    justify-content: space-between;

    li {
      text-align: center;
      margin: 0 0 57px;
    }

    h4 {
      font-size: 25px;
      font-weight: bold;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    p {
      font-size: 18px;
    }
  }
}

//tenfold

.tenfold {
  background-color: #ffffff;
}

.tenfold-wrapper {
  padding: 100px 0;
  display: flex;
  flex-direction: column;

  .section-header {
    font-size: 50px;
    text-align: center;
    line-height: 60px;
    font-family: $ff-semibold;
  }

  .tenfold-list {
    display: flex;
    margin-top: 80px;
    align-items: baseline;
    justify-content: space-evenly;

    li {
      text-align: start;
      margin: 0 0 57px;
    }

    h4 {
      font-size: 25px;
      font-weight: bold;
      margin-top: 30px;
      margin-bottom: 30px;
    }

    p {
      font-size: 18px;
      text-align: start;
      margin-bottom: 30px;
      line-height: 25px;
    }

    a {
      font-size: 20px;
      color: #000;
      text-decoration-line: underline;
    }
  }
}

//chief

.chief {
  background-color: #c9e8f2;
  position: relative;
  font-size: 30px;
  line-height: 40px;
  padding: 15px 0 0;

  .chief-wrapper {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    padding: 110px 0 105px;
    align-items: flex-start;
  }

  .logo {
    margin-left: 70px;
  }

  .chief_p1 {
    margin-bottom: 30px;
  }

  .chief_p2 {
    font-size: 15px;
  }
}

//software

.software {
  background-color: #dabc98;
  position: relative;
  display: flex;
  padding: 69px 0 80px;
}

.software-list {
  display: flex;
  justify-content: space-between;

  .title {
    display: flex;
    flex-direction: row;
    align-items: center;

    .image-lazy {
      width: 176px;
      margin-top: -34px;
      margin-right: 47px;
    }

    h3 {
      font-size: 35px;
      line-height: 50px;
      font-weight: 600;
      font-family: $ff-semibold;
      margin-right: 34px;
    }
  }

  .raitings {
    border-left: 1px solid #000;
    display: flex;
    justify-content: space-between;
    padding: 30px 62px 22px 70px;
    margin: 10px 0 0;
  }

  .confession {
    .logotype {
      margin: 0 0 20px;
    }

    .raiting {
      margin: 0 0 4px;
    }

    .text {
      font-size: 15px;
      line-height: 40px;
    }
  }
}

//integrate

.integrate {
  text-align: center;
  padding: 152px 0 176px;
}

.integrate-list {
  h2 {
    font-size: 65px;
    line-height: 75px;
    font-weight: 600;
    font-family: $ff-semibold;
  }

  p {
    padding: 0 29%;
    margin: 0 0 90px;
    font-size: 25px;
  }
}

.colored-btn {
  display: inline-block;
  background: #ff6336;
  font-size: 17px;
  font-weight: 600;
  height: 60px;
  padding: 0 20px;
  line-height: 60px;
  color: #fff;
  min-width: 160px;
}

//made-easy

.made-easy {
  background-color: $bg-dedicated;
}

.made-easy-wrapper {
  position: relative;
  text-align: center;
  padding: 100px 0;

  .section-header {
    font-size: 50px;
    text-align: center;
    line-height: 60px;
    font-family: $ff-semibold;
  }

  h1 {
    margin: 0 0 39px;
  }

  p {
    font-size: 20px;
    margin-bottom: 54px;
    margin-top: 29px;
  }
}

.bw-btn {
  display: inline-block;
  background: #000;
  font-size: 17px;
  font-weight: 600;
  height: 60px;
  padding: 0 20px;
  line-height: 60px;
  color: #fff;
  min-width: 160px;
}

//footer

.footer {
  background: #eee;
  padding: 92px 0 48px;

  .main-column {

    p {
      line-height: 25px;
      margin-bottom: 25px;
    }

    .title {
      font-size: 40px;
      font-family: "GraphikLCG-Semibold", sans-serif;
      margin-bottom: 30px;
    }
  }

  .footer-nav {
    color: #000;
    padding: 5px 0 0;
    width: 100%;
    max-width: 850px;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;

    h4 {
      size: 20px;
      font-weight: 600;
      margin-bottom: 20px;
    }

    .nav-list {
      display: flex;
      flex-direction: column;
      font-size: 15px;
      font-weight: 400;

      a {
        font-size: 15px;
        color: #000;
        line-height: 20px;
        line-height: 30px;
      }
    }
  }
}

.more {
  font-size: 20px;
  font-weight: 600;
  color: #000;
}

.frame {
  margin-bottom: 30px;

}

.columns {
  display: flex;
  padding: 0 0 94px;
  margin: 0 0 48px;
  border-bottom: 1px solid #000;

}

.holder {
  display: flex;
  justify-content: space-between;

  .logo {
    .slogan {
      font-weight: 400;
    }

    display: flex;
    align-items: center;
  }

  .holder-logo {
    width: 90px;
    height: 21px;
    margin-right: 20px;
  }
}